#preview{
    width: 100px;
    height: 100px;
    background-color:black;
    margin-left:0px;
    border-radius: 0px;
}

p{
    font-size: 15px;
    text-transform: uppercase;
}

input#color{
    margin-bottom: 10px;
}